@import url('https://font.googleapis.com/css2?family=Poppins&display=swap');
html{
    scroll-behavior: smooth;
}
body {
        font-family:Trebuchet MS, sans-serif;
        font-size: 15px;
        line-height: 1.5;
        padding: 0;
        margin: 0;
        background-color: rgb(0, 51, 66);
      }     
/*use keyframes*/
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

/*Responsive start here*/
/*Media Queries*/
/*LOGO ILECO II in Menu*/

.main-rotate{
    display: block;
    padding: 0px 30px;
    width: 25%;
    height: 150px;
}
.main-rotate .rotate_1{
    display: inline-block;
    margin: -30px 0 -116px 0;
    width: 140px;
    height: 140px;
    -webkit-transition: -webkit-transform 1s;
}
.main-rotate .rotate_2{
    display: inline-block;
    margin: -30px 0 100px 0;
    width: 140px;
    height: 140px;
    -webkit-animation: spin 15s linear infinite; 
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite;
}
@media(max-width:820px){
    .main-rotate .rotate_1{
        display: inline-block;
        margin: -30px 0 -76px 0;
        width: 100px;
        height: 100px;
    }
    .main-rotate .rotate_2{
        display: inline-block;
        margin: -30px 0 100px 0;
        width: 100px;
        height: 100px;
}
}
@media(max-width:620px){
    .main-rotate .rotate_1{
        display: inline-block;
        margin: -30px 0 -56px 0;
        width: 80px;
        height: 80px;
    }
    .main-rotate .rotate_2{
        display: inline-block;
        margin: -30px 0 100px 0;
        width: 80px;
        height: 80px;}
}

/*LOGO ILECO II in Menu END*/